*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

a{
    text-underline: none;
    color: white;
    text-decoration: none;
}

/* to remove scroll bars */
html {
       margin: 0;
       padding: 0;

       overflow: scroll;
       overflow-x: hidden;

   }
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /*background: #FF0000;*/
}

/*code for scroll ends here*/

body{

    margin:0;
    padding:0;

    /*for removing scroll bars in mozilla but it remove scoll function also*/
    //overflow: -moz-scrollbars-none;
}

#resume{
    position: fixed;
    right: 1%;
    top: 1%;
    z-index: 100;
    /* font-family: calibri; */
    font-family: Montserrat,cursive;
    font-weight: lighter;
    cursor: pointer;
}
#resumelink{
    color: #ffffff;
}
#resumelink:hover{
    transition: all .3s;
    text-shadow: 2px 2px 5px grey;

}

/*code for centering*/
#nav {

    display: table;
    /*display: none;*/
    position: fixed;
    height: 100%;
    //width: 10em;
    width: 170px;
    max-width: 170px;
    min-width: 150px;
    margin-right: 100px;
    /*max-width: 140px;*/
    color: #fff;
    left: .5%;
    margin-right: 1%;
    z-index: 100;
    //border: 1px solid red;
}

#nav-ul {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
   // border: 1px solid blue;
}

#nav-ul li{
    margin-left: auto;
    margin-right: auto;
    //width: 400px;


    list-style-type: none;
    color: #fff;
    font-family: Calibri;
    font-size:.9em;

    letter-spacing: 1px;
    //margin-bottom: 20px;
    padding: 0;
    padding-bottom: 8px;
    padding-top: 8px;

    text-align: center;
    //border: 1px solid white;
    border-bottom:1px solid white;
    outline: none;
}

.nav-btn{
    cursor: pointer;
    
}
.nav-btn:hover{
    background-color: #fff;
}


/*for background color of current page in nav*/
#gen-det{
    background: rgba(153, 223, 241, 0.26);
}



/*centering code ends here*/

/*#nav{*/
    /*position:fixed;*/
    /*display: inline;*/
    /*padding:none;*/
    /*padding-top: 15%;*/
    /*padding-bottom: 5%;*/
    /*height: 100%;*/

    /*max-width: 400px;*/
    /*//border:1px solid red;*/
/*}*/

/*#nav #nav-ul*/
/*{*/
    /*position: relative;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*list-style-type: none;*/
    /*margin: auto;*/
    /*padding: auto ;*/
    /*padding-left: 20px;*/
    /*max-height: 5%;*/
    /*cursor: pointer;*/
    /*//border: 1px solid black;*/
/*}*/

/*#nav #nav-ul li{*/
    /*color: #fff;*/
    /*font-family: Calibri;*/
    /*font-size:.9em;*/
    /*letter-spacing: 1px;*/
    /*//margin-bottom: 20px;*/
    /*padding-bottom: 8px;*/
    /*padding-top: 8px;*/
    /*text-align: center;*/
    /*//border: 1px solid white;*/
    /*border-bottom:1px solid white;*/
    /*outline: none;*/
/*}*/

#academics{
    position: sticky;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to top,#30cfd0 0%, #330867 100%);
   // background:linear-gradient(90deg, purple,#18a2a7 );
    //background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    //background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
#skills{
    position: sticky;
    top: 0;
    z-index: 3;
    /*background: #18a2a7;*/
    /*background: #536976;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #292E49, #536976);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #292E49, #536976); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

}
#tools{
    position: sticky;
    top: 0;
    z-index: 4;
 /*background:linear-gradient(100deg, violet,darkturquoise ) ;*/
    /*background: #314755;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #26a0da, #314755);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #26a0da, #314755); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
@keyframes toolanim{
    0%{background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    25%{background-image: linear-gradient(to top,#30cfd0 0%, #330867 100%);}
    75%{   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);}
    100%{background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);}
}
#projects{
    position: sticky;
    top: 0;
    z-index: 5;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
#co-cu-act{
    position: sticky;
    top: 0;
    z-index: 6;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#hobbies{
    position: sticky;
    top: 0;
    z-index: 7;
    /*background: #ad5389;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #3c1053, #ad5389); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}
#links{
    position: sticky;
    top: 0;
    z-index: 8;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* for all the particles pages */
.page{
    width: 100%;
    //height: 700px;
    padding:0;
    margin: 0;

}


/* for the general details part */


#general-details{
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(90deg, #3693df, #df52ff);
    //animation:pulse .5s  ease-in .6s; 

    //border: 1px solid red;
}
 .container
    {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        //margin: 0 0 200px 0;

       // overflow: scroll;
        z-index: 1;
       // border: 3px solid blue;
    }

#namecard{
    position: relative;
    top: 8%;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat,cursive;
    font-size: 30px;
    animation:pulse 1s ease-in-out .5s;
}
#name{

   // border: 1px solid green;

}
#imageholder{
    position: relative;
    /* margin-top: 20px; */
    /* margin-top: 3%; */
    top: 15%;
    text-align: center;
    //border: 1px solid red;
    animation:pulse 1s ease-in-out .7s;
}
#imageholder #image{
    //border: 1px solid blue;
}
#imageholder #image img{
    /*width: 150px;*/
    /*height: 200px;*/
    width: 13%;
    height: 10%;
    box-shadow:1px 1px 10px #3673ff;
    opacity: .9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#details{
    display: block;
    width: 100%;
    height: 20%;
    bottom: 12%;
    //max-height: 500px;
    position: absolute;
    //position: static;
    //border: 1px solid red;

    animation:pulse .7s ease-in-out 1s;
}
.details-content{
    display: inline-block;
    margin:0 20px 0 20px;
}

#bdate{
    color: #ffffff;
    font-family: "Times New Roman";
    letter-spacing: 1px ;

}

#mail{

    cursor: pointer;

}

#undergrad{
    color: #ffffff;
    font-family: Montserrat,cursive;
    letter-spacing: 2px;
    //font-weight: lighter;

}


/* general details part over here*/


/*code for ACADEMICS DIV  */
/*.acadcard{*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: 1em;*/
    /*//width: 15em;*/
    /*//height: 25em;*/
    /*width: 250px;*/
    /*height: 300px;*/
    /*padding: 10px;*/


    /*margin: 0 4% 0 0 ;*/

    /*-webkit-border-radius: 10%;*/
    /*-moz-border-radius: 10%;*/
    /*border-radius: 10%;*/
    /*background: darkcyan;*/
    /*!*background: #AA076B;  !* fallback for old browsers *!*!*/
    /*!*background: -webkit-linear-gradient(to right, #61045F, #AA076B);  !* Chrome 10-25, Safari 5.1-6 *!*!*/
    /*!*background: linear-gradient(to right, #61045F, #AA076B); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*!*/
    /*//border:1px solid red;*/

/*}*/
/*#acadpanel{*/
    /*position: relative;*/
    /*top: 21%;*/
    /*margin-left: 14%;*/

    /*padding: 0;*/
    /*border: 1px solid green;*/
/*}*/
#acadpanel{
    position: relative;
    display: block;
    //width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;


    //border: 2px solid black;
}
.acad-card{
    position: relative;
    height: 40%;
    top: 30%;
    bottom: 30%;

    margin-right: 20px;
    display: inline-block;
    
    //padding: 5px;

   // border: 1px solid grey;
}
.acad-card:hover{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    opacity:.8;
    background:#271625;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    border-radius: 7%;
}
/* CODE FOR ACADEMICS ENDS HERE */


/* CODE FOR SKILLS STARTS HERE*/
#skillpanel{
    position: relative;
    display: block;
    width: 85%;
    height: 100%;
    margin-left: 15%;
    margin-right: 0%;
    text-align: center;
    padding-top: 4%;

    //border: 2px solid black;

}
.skillcard{
    display: inline-block;
    margin: 5% 4% 2% 0;
    padding: 20px;
    height: 12em;
    width: 11em;
    padding: 0;
    border-radius: 4%;
   // background: purple;
    box-shadow:0 0 5px grey;
    cursor: pointer;
    //border: 1px solid red;
}
.skillcard:hover{
    transition: all .3s;
    background: #d8c70a;
    box-shadow: 0.3em 0.3em 0.5em grey;
}

.upper-div{
    position: relative;
    width: 100%;
    height: 70%;
    //border: 1px solid black;
}
.upper-div img{
    display: block;
    width: 100%;
    height: 100%;
}
.lower-div{
    position: relative;
    /*display: ;*/
    width: 100%;
    height: 30%;
    background: #ffffff;
    border-radius: 0% 0% 4% 4%;
    //border: 4px solid green;
}
.skill-text{
    color:#000000;
    font-size: 15px;
    font-family: Montserrat,cursive;;
    line-height: 60px;
    margin-top:100px;
    //border: 1px solid green;
}


/* CODE FOR SKILLS ENDS HERE */

/*CODE FOR TOOLS PANEL STARTS HERE*/

#toolspanel{
    position: relative;
    display: block;
    width: 85%;
    height: 100%;
    margin-left: 15%;
    padding-top:4%;
    //margin-right: 15%;
    text-align: center;


   // border: 2px solid black;
} 
#toolscard{
    display: inline-block;
    margin: 5% 4% 2% 0;
    padding: 20px;
    height: 12em;
    width: 11em;
    padding: 0;
    border-radius: 4%;
   // background: purple;
    box-shadow:0 0 5px grey;
    cursor: pointer;
    //border: 1px solid red;

}

/*CODE FOR TOOLS PANEL ENDS HERE*/



/*CODE FOR PROJECTS STARTS HERE*/

/*CODE FOR PROJECTS ENDS HERE*/

/*CODE FOR CO-CURRICULUR ACTIVITIES STARTS HERE*/
#actpanel{
    position: relative;
    display: block;
    width: 85%;
    height: 100%;
    margin-left: 15%;
    //margin-right: 15%;
    text-align: center;

    //border: 2px solid black;
}
.act-card{
    /*display: inline-block;
    margin: 5% 4% 2% 0;
    padding: 20px;
    height: 12em;
    width: 11em;
    padding: 0;
    border-radius: 4%;
   // background: purple;
    box-shadow:0 0 5px grey;
    cursor: pointer;
    //border: 1px solid red;*/
    display: inline-block;
    
    height: 45%;
    width: 20%;
    margin-left: 5%;
    margin-top: 10%;

    //border: 2px solid yellow;
}

.upper-act-card{
    color: white;
    font-family: Montserrat,cursive;
    letter-spacing: 2px;
    height: 15%;
    width: 100%;
    padding: 0;
    margin:0;
    border-bottom: 1px solid #ffffff;
}

.lower-act-card{
    padding: 0;
    margin:0;
    height: 85%;
    width: 100%;
    //border: 1px solid green;
}
.lower-act-card img{
    display: block;
    width: 100%;
    height: 100%;

    //border: 1px solid blue;
}
/*CODE FOR CO-CURRICULUR ACTIVITIES ENDS HERE*/

/*CODE FOR LINKS STARTS HERE*/
#linkspanel{
    position: relative;
    display: block;
    width: 85%;
    height: 100%;
    margin-left: 15%;
    //margin-right: 15%;
    text-align: center;

    //border: 1px groove  black;
}
#linkscontent{
    position: relative;
    
    width: 100%;
    height: 60%;
    margin: 10% 0 10% 0;

    //border: 1px solid blue;
}

.link-card{
    display: inline-block;
    width: 12%;
    height: 30%;

    margin-top: 4%;
    margin-right: 5%;
    //border: 1px solid green;
}
.link-card img{
    width: 100%;
    height: 100%;
    opacity: .7;
}
.link-card :hover{
    transition: all .2s;    
    opacity: 1;
    box-shadow: 1px 2px 10px grey;
}

#projectpanel{
    position: relative;
    display: block;
    //width: 70%;
    height: 100%;
    margin-left: 17%;
    margin-right: 10%;
    text-align: center;
    
    //border: 2px solid white;
}
.projectcard{
    display: inline-block;
    /*width: 35%;
    height: 35%;*/

    width: 17em;
    height: 17em;
    margin-top: 5%;
    margin-right: 2%;
    /*margin-bottom: %;*/
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid white;

}
.phead{
    position: relative;
    width: 100%;
    height: 75%;
    
    color: #ffffff;
    font-family: calibri;
    /*font-size: em;*/
    border: 1px solid white;
    padding-top: 20%;
}
.pdesc{
    margin-top: 12px;
    text-align: center;
    text-align: left;
    padding-left: 10%;
    color: #ffffff;
    font-family:monospace;
    font-size: 1.3em;
    
}

body{
    background: black;
}
/*CODE FOR LINKS ENDS HERE*/


/*
#downarrow{
    position: fixed;
    display: block;
    bottom: 4%;
    left: 30%;
    width: 33px;
    height: 33px;
    cursor: pointer;
    //border: 1px solid red;
    z-index: 30;
}*/